### Esse código por usar a biblioteca oficial do Google Cloud Plataform (bq_helper), deve ser utilizado no datalab da Google ou no Kaggle.

#### A biblioteca bq_helper, é uma ferramenta desenvolvida pelo usuário SohierDane para facilitar a interação com o Google BigQuery no ambiente Python. Ela oferece uma série de utilitários e funções para tornar mais simples o processo de consulta e manipulação de dados no BigQuery.

#### Algumas características e funcionalidades principais do bq_helper:

- Conexão com o BigQuery: A biblioteca permite a conexão com o serviço do Google BigQuery diretamente do Python. Isso significa que você pode executar consultas e recuperar dados do BigQuery sem sair do ambiente Python.

- Sintaxe Simplificada para Consultas: O bq_helper fornece uma sintaxe simplificada para escrever e executar consultas no BigQuery. Isso pode economizar muito tempo

# IMPORTANDO AS BIBLIOTECAS

In [ ]:
import pandas as pd
import numpy as np
import bq_helper
from bq_helper import BigQueryHelper

# INSTANCIANDO O DATASET DESEJADO

## O dataset está no bigquery

In [ ]:
noaa = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                dataset_name="ghcn_d")

In [ ]:
noaa = bq_helper.BigQueryHelper(active_project="fh-bigquery",
                                dataset_name="weather_gsod")

## OBTENDO A LISTA DE ANOS DISPONÍVEIS

In [ ]:
bq_assistant = BigQueryHelper("bigquery-public-data", "noaa_gsod")
bq_assistant.list_tables()

['gsod1929',
 'gsod1930',
 'gsod1931',
 'gsod1932',
 'gsod1933',
 'gsod1934',
 'gsod1935',
 'gsod1936',
 'gsod1937',
 'gsod1938',
 'gsod1939',
 'gsod1940',
 'gsod1941',
 'gsod1942',
 'gsod1943',
 'gsod1944',
 'gsod1945',
 'gsod1946',
 'gsod1947',
 'gsod1948',
 'gsod1949',
 'gsod1950',
 'gsod1951',
 'gsod1952',
 'gsod1953',
 'gsod1954',
 'gsod1955',
 'gsod1956',
 'gsod1957',
 'gsod1958',
 'gsod1959',
 'gsod1960',
 'gsod1961',
 'gsod1962',
 'gsod1963',
 'gsod1964',
 'gsod1965',
 'gsod1966',
 'gsod1967',
 'gsod1968',
 'gsod1969',
 'gsod1970',
 'gsod1971',
 'gsod1972',
 'gsod1973',
 'gsod1974',
 'gsod1975',
 'gsod1976',
 'gsod1977',
 'gsod1978',
 'gsod1979',
 'gsod1980',
 'gsod1981',
 'gsod1982',
 'gsod1983',
 'gsod1984',
 'gsod1985',
 'gsod1986',
 'gsod1987',
 'gsod1988',
 'gsod1989',
 'gsod1990',
 'gsod1991',
 'gsod1992',
 'gsod1993',
 'gsod1994',
 'gsod1995',
 'gsod1996',
 'gsod1997',
 'gsod1998',
 'gsod1999',
 'gsod2000',
 'gsod2001',
 'gsod2002',
 'gsod2003',
 'gsod2004',
 'gsod2005',
 'gsod2006',
 'gsod2007',
 'gsod2008',
 'gsod2009',
 'gsod2010',
 'gsod2011',
 'gsod2012',
 'gsod2013',
 'gsod2014',
 'gsod2015',
 'gsod2016',
 'gsod2017',
 'gsod2018',
 'gsod2019',
 'gsod2020',
 'gsod2021',
 'gsod2022',
 'gsod2023',
 'stations']

# VISUALIZANDO O FORMATO DE UM DATASET

## VISUALIZAREMOS O ANO DE 2023

In [ ]:
QUERY = """select state, name, min(stn), min(year), mo, avg(temp), avg(min), avg(max), avg(prcp), avg(sndp) from`bigquery-public-data.noaa_gsod.stations` b JOIN `bigquery-public-data.noaa_gsod.{year}`a
        ON a.wban=b.wban AND a.stn=b.usaf where b.country = 'BR' group by state, name, mo""".format(year='gsod2023')

df_weather = bq_assistant.query_to_pandas(QUERY)

df_weather

     state                           name  ...          f5_    f6_
0     None                      CASTANHAL  ...     0.000000  999.9
1     None                      PREGUICAS  ...     0.003333  999.9
2     None                      PREGUICAS  ...     0.122115  999.9
3     None                      PREGUICAS  ...     0.131552  999.9
4     None                      PREGUICAS  ...     0.015098  999.9
5     None                      PREGUICAS  ...     0.089636  999.9
6     None                          COARI  ...     0.000000  999.9
7     None                          CAICO  ...     0.000000  999.9
8     None                         URUCUI  ...     0.000000  999.9
9     None                  ALTO PARNAIBA  ...     0.000000  999.9
10    None                   SANTO ANGELO  ...    29.626667  999.9
11    None                   SANTO ANGELO  ...    16.665000  999.9
12    None                    SALINOPOLIS  ...     2.296939  999.9
13    None                    SALINOPOLIS  ...     0.252586  999.9
14    None                    SALINOPOLIS  ...     0.452222  999.9
15    None                    SALINOPOLIS  ...     6.892955  999.9
16    None                    SALINOPOLIS  ...     0.046316  999.9
17    None                       MANICORE  ...     4.347391  999.9
18    None                     IMPERATRIZ  ...     0.000000  999.9
19    None                     IMPERATRIZ  ...     0.000000  999.9
20    None                     IMPERATRIZ  ...    21.664500  999.9
21    None                CRUZEIRO DO SUL  ...     9.999000  999.9
22    None                 BACACHERI AERO  ...    79.302414  999.9
23    None          CAMPOS DOS GOITACAZES  ...    20.687586  999.9
24    None                SANTA CRUZ AERO  ...    26.664000  999.9
25    None                SANTA CRUZ AERO  ...     6.895862  999.9
26    None                       ABROLHOS  ...     0.000000  999.9
27    None                       ABROLHOS  ...     0.000000  999.9
28    None                       ABROLHOS  ...     0.000000  999.9
29    None                       ABROLHOS  ...     0.000000  999.9
...    ...                            ...  ...          ...    ...
3430  None                      SAO BORJA  ...     0.000000  999.9
3431  None                       GUANAMBI  ...     0.000000  999.9
3432  None                        INDAIAL  ...     0.000000  999.9
3433  None                         CASTRO  ...     0.000000  999.9
3434  None                     PAULISTANA  ...     0.000000  999.9
3435  None    MARECHAL CUNHA MACHADO INTL  ...    13.332000  999.9
3436  None             RIO PARDO DE MINAS  ...     0.000000  999.9
3437  None                    TRES MARIAS  ...     0.000000  999.9
3438  None                       AGUA BOA  ...     0.000000  999.9
3439  None             HOTEL TRANSAMERICA  ...     0.000000  999.9
3440  None                    PORTO VELHO  ...     0.000000  999.9
3441  None                          IPIAU  ...     0.000000  999.9
3442  None                           JUTI  ...     0.000000  999.9
3443  None                   GUARAMIRANGA  ...     0.000000  999.9
3444  None             HOTEL TRANSAMERICA  ...     0.000000  999.9
3445  None  TRINDADE (ILHA)                ...     0.000000  999.9
3446  None                        MARILIA  ...     0.000000  999.9
3447  None                    SANTA MARTA  ...     0.000000  999.9
3448  None             HOTEL TRANSAMERICA  ...     0.000000  999.9
3449  None                          BARRA  ...     0.000000  999.9
3450  None                        ITIRUCU  ...     0.000000  999.9
3451  None                         CASTRO  ...     0.000000  999.9
3452  None                        MARILIA  ...     0.000000  999.9
3453  None                 JOAQUIM TAVORA  ...     0.000000  999.9
3454  None                       CARLINDA  ...     0.000000  999.9
3455  None                      CALCANHAR  ...     0.000000  999.9
3456  None  PARNAIBA PREFEITO DR JOAO SIL  ...     0.000000  999.9
3457  None                    SAO GABRIEL  ...     0.000000  999.9
3458  None                        MARILIA  ...     0.000000  999.9
3459  None                   SANTA TEREZA  ...     0.000000  999.9

[3460 rows x 10 columns]

# OBTENDO O CONJUNTO DE DADOS

In [ ]:
# INICIANDO O DATAFRAME
df = pd.DataFrame()

for year in bq_assistant.list_tables():

    try:
        print("ANO ATUAL: {}".format(year))

        QUERY = """select state, name, min(stn), min(year), mo, avg(temp), avg(min), avg(max), avg(prcp), avg(sndp) from`bigquery-public-data.noaa_gsod.stations` b JOIN `bigquery-public-data.noaa_gsod.{year}`a
        ON a.wban=b.wban AND a.stn=b.usaf where b.country = 'BR' group by state, name, mo""".format(year=year)

        df_weather = bq_assistant.query_to_pandas(QUERY)

        df = pd.concat([df, df_weather])
    except Exception as ex:
        print(ex)

ANO ATUAL: gsod1929
ANO ATUAL: gsod1930
ANO ATUAL: gsod1931
ANO ATUAL: gsod1932
ANO ATUAL: gsod1933
ANO ATUAL: gsod1934
ANO ATUAL: gsod1935
ANO ATUAL: gsod1936
ANO ATUAL: gsod1937
ANO ATUAL: gsod1938
ANO ATUAL: gsod1939
ANO ATUAL: gsod1940
ANO ATUAL: gsod1941
ANO ATUAL: gsod1942
ANO ATUAL: gsod1943
ANO ATUAL: gsod1944
ANO ATUAL: gsod1945
ANO ATUAL: gsod1946
ANO ATUAL: gsod1947
ANO ATUAL: gsod1948
ANO ATUAL: gsod1949
ANO ATUAL: gsod1950
ANO ATUAL: gsod1951
ANO ATUAL: gsod1952
ANO ATUAL: gsod1953
ANO ATUAL: gsod1954
ANO ATUAL: gsod1955
ANO ATUAL: gsod1956
ANO ATUAL: gsod1957
ANO ATUAL: gsod1958
ANO ATUAL: gsod1959
ANO ATUAL: gsod1960
ANO ATUAL: gsod1961
ANO ATUAL: gsod1962
ANO ATUAL: gsod1963
ANO ATUAL: gsod1964
ANO ATUAL: gsod1965
ANO ATUAL: gsod1966
ANO ATUAL: gsod1967
ANO ATUAL: gsod1968
ANO ATUAL: gsod1969
ANO ATUAL: gsod1970
ANO ATUAL: gsod1971
ANO ATUAL: gsod1972
ANO ATUAL: gsod1973
ANO ATUAL: gsod1974
ANO ATUAL: gsod1975
ANO ATUAL: gsod1976
ANO ATUAL: gsod1977
ANO ATUAL: gsod1978
ANO ATUAL: gsod1979
ANO ATUAL: gsod1980
ANO ATUAL: gsod1981
ANO ATUAL: gsod1982
ANO ATUAL: gsod1983
ANO ATUAL: gsod1984
ANO ATUAL: gsod1985
ANO ATUAL: gsod1986
ANO ATUAL: gsod1987
ANO ATUAL: gsod1988
ANO ATUAL: gsod1989
ANO ATUAL: gsod1990
ANO ATUAL: gsod1991
ANO ATUAL: gsod1992
ANO ATUAL: gsod1993
ANO ATUAL: gsod1994
ANO ATUAL: gsod1995
ANO ATUAL: gsod1996
ANO ATUAL: gsod1997
ANO ATUAL: gsod1998
ANO ATUAL: gsod1999
ANO ATUAL: gsod2000
ANO ATUAL: gsod2001
ANO ATUAL: gsod2002
ANO ATUAL: gsod2003
ANO ATUAL: gsod2004
ANO ATUAL: gsod2005
ANO ATUAL: gsod2006
ANO ATUAL: gsod2007
ANO ATUAL: gsod2008
ANO ATUAL: gsod2009
ANO ATUAL: gsod2010
ANO ATUAL: gsod2011
ANO ATUAL: gsod2012
ANO ATUAL: gsod2013
ANO ATUAL: gsod2014
ANO ATUAL: gsod2015
ANO ATUAL: gsod2016
ANO ATUAL: gsod2017
ANO ATUAL: gsod2018
ANO ATUAL: gsod2019
ANO ATUAL: gsod2020
ANO ATUAL: gsod2021
ANO ATUAL: gsod2022
ANO ATUAL: gsod2023
ANO ATUAL: stations
400 Name stn not found inside a at [2:32]

In [ ]:
df.columns = ['state', 'name', 'station', 'year', 'month', 'avg_temp', 'avg_min_temp', 'avg_max_temp', 'avg_prcp', 'avg_snow_depth']

In [ ]:
df.head()

  state      ...       avg_snow_depth
0  None      ...                999.9
1  None      ...                999.9
2  None      ...                999.9
0  None      ...                999.9
1  None      ...                999.9

[5 rows x 10 columns]

# PÓS-PROCESSAMENTO

In [ ]:
df = df.replace(999.9, np.nan)

# EXPORTANDO O RESULTADO

In [ ]:
df.to_csv('weather.csv', index=False)